@import "mootor.core";

$header-height: 40px;
$header-height-h: 44px;

@mixin header(

    $class: '.moo-header',
    $navDisplay: inline
    ){

    #{$class} {
    
        @include headerHeight();
        color: $color-header-text;    
        background-color: $color-bg-header-bar;
        padding: 0;
        z-index: 9999;
        position: absolute;
        width: 100%;

        // Title
        h1 {
        
            @include headerHeightFontSize();
            @include headerHeight();
            @include float-left;
            line-height: 1.5;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;       
            padding: 0 4em;
            width: 85%;
            z-index: 9998; 
            position: fixed;
            top:0;
            display: block;
            @include headerTitleMargin();
        }    

        // Nav back button       
        .moo-nav-back {
            position: absolute;
            z-index: 9999;
            opacity: 0;
            &.moo-visible {
                opacity: 1;    
            }
         }
         
        // Navigation menu    
        nav {
            position: absolute;
            margin-top: 0;
            &.app {
                top: 0;
                right: 0;
                padding: 0 .5em;
                margin: 0;
                a {
                    line-height: 1.2;
                }
            }
        }
        nav a {
            padding: .5em 1em;
            font-size: 1.5em;            

            @if $navDisplay == inline {
                display: inline;                
            } @else {
                float: left;
                display: block;
            }

        }    

        // Hidden
        
        // This style vissually hides the header without removing it from the DOM. 
        // 1. Fix to overwrite .hidden generic class
        // 2. Prevents using nav when header is hidden
        &.hidden {
           display: block; // 1
           opacity: 0;
           nav {
               top: -9999em !important; // 2
           }
        }
        
    }
}


// Default styles

@mixin headerStyle(
        $context: ios,
        $theme: default,
        $class: '.moo-header',
        $background-url: '../img/default/nav-header.png'
    ){

    #{$class} {

        // Default

        @if $theme == default {
        
            h1 {
                letter-spacing: -0.075em;
                font-weight: lighter;
            }
            
            nav a {
                @if $dark-theme {
                    color: $color-main-darkbg;                
                } else {
                    color: $color-main;                                    
                }
                font-weight: bold;
            }
            
            @if $context == ios {
            
                background: url($background-url);
                box-shadow: rgba(0, 0, 0, 0.2) -1px 2px 3px 0px;
    
                h1 {
                    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
                }
                
                .moo-nav-back {
                    @include moo-nav-back();
                }
    
                .moo-header-wrapper {
                    @include headerHeight();
                    box-shadow: rgba(0,0,0,.5) 0px -2px 5px -3px inset;
                }
    
            }
        }
  
    }
}

// Utilities 

@mixin headerHeight() {
    @media screen and ( $media-query-0 ) {
        height: $header-height;
    }
    @media screen and ( $media-query-1 ) {
        height: $header-height-h;
    }    
    @media screen and ( $media-query-2 ) {
        height: $header-height-h;
    }  
}


@mixin headerHeightFontSize() {
    @media screen and ( $media-query-0 ) {
        font-size: 2em;
    }
    @media screen and ( $media-query-1 ) {
        font-size: 2.5em;
    }    
    @media screen and ( $media-query-2 ) {
        font-size: 2.5em;
    }      
}

@mixin headerPadding() {
    
    @media screen and ( $media-query-0 ) {
        padding: 1em;
    }
    @media screen and ( $media-query-1 ) {
        padding: 2em;
    }    
    @media screen and ( $media-query-2 ) {
        padding: 1.7em 2em;
    }   
}

@mixin headerTitleMargin() {
    
    @media screen and ( $media-query-0 ) {
        margin: .2em 0 0;
    }
    @media screen and ( $media-query-1 ) {
        margin: .1em 0 0;
    }    
    @media screen and ( $media-query-2 ) {
        margin: .1em 0 0;
    }   
}

@mixin moo-nav-back(
    $height: 32px,
    $color-border-main: rgba(0,0,0,.2)
)
{
    height: $height;
    @include transition(opacity .5s);    
    font-size: 1.3em;

    border-left: 0;
    border-top: 1px solid $color-border-main;
    border-right: 1px solid $color-border-main;
    border-bottom: 1px solid $color-border-main;

    padding: 0.4em 1em 0 .5em;
    margin: .45em 1.7em;

    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);

    @include border-radius(.1368em .35em .35em .1368em);  
    @include box-shadow(rgba(white, .2) 0 1px 0 0, rgba(255, 255, 255, 0.2) 1px 0px 0px 0);

    &:before {

        border-left: 1px solid $color-border-main;
        border-bottom: 1px solid $color-border-main;
        @include border-radius (0 6em 0 1.5em);
        @include box-shadow(rgba(white, .2) 0 1px 0 0);
        position: absolute;
        top: 4px;
        left: -11px;
        width: $height - 11;
        height: $height - 11;

        @include transform(rotate(45deg));
    } 
    
    &.moo-hover {
        text-shadow: white 0px 0px 15px;
        @include box-shadow(rgba(white, .4) 0 1px 0 0, rgba(255, 255, 255, 0.4) 1px 0px 0px 0);
        &:before {
            @include box-shadow(rgba(white, .4) 0 1px 0 0);
        }
    }               
}