$header-height-l: 50px;
$header-height-m: 60px;
$header-height-h: 80px;

@mixin header(

    $class: '.moo-header',
    $navDisplay: inline
    ){

    #{$class} {
    
        @include headerHeight();
        color: $color-header-text;    
        background-color: $color-bg-header-bar;
        padding: 0;
        z-index: 9999;
        position: absolute;
        width: 100%;

        // Title
        h1 {
        
            @include headerHeightFontSize();
            @include headerHeight();
            @include float-left;
            line-height: 1.5;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;       
            padding: 0 4em;
            width: 85%;
            z-index: 9999; 
            position: fixed;
            top:0;
            margin: .4em;
            display: block;

        }    

        // Nav back button       
        .moo-nav-back {
            opacity: 0;
            &.moo-visible {
                opacity: 1;    
            }
         }
         
        // Navigation menu    
        nav {
            position: absolute;
            margin-top: 0;
            &.app {
                top: 0;
                right: 0;
                padding: 0 .5em;
                margin: 0;
                a {
                    line-height: 1.2;
                }
            }
        }
        nav a {
            padding: .5em 1em;
            font-size: 1.5em;            

            @if $navDisplay == inline {
                display: inline;                
            } @else {
                float: left;
                display: block;
            }

        }    

        // Hidden
        
        // This style vissually hides the header without removing it from the DOM. 
        // 1. Fix to overwrite .hidden generic class
        // 2. Prevents using nav when header is hidden
        &.hidden {
           display: block; // 1
           opacity: 0;
           nav {
               top: -9999em !important; // 2
           }
        }
        
    }
}


// Styles

@mixin headerStyle(
        $context: ios,
        $theme: default,
        $class: '.moo-header',
        $background-url: '../img/bg/header.png'
    ){

    #{$class} {

        // Default

        @if $theme == default {
        
            h1 {
                letter-spacing: -1pt;
                font-weight: lighter;
            }
            
            @if $context == ios {
            
                background: url($background-url);
                box-shadow: rgba(0, 0, 0, 0.2) -1px 2px 3px 0px;
    
                h1 {
                    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
                }
    
                .moo-nav-back {
                    @include transition(opacity, .5s);    
                }
    
                .moo-header-wrapper {
                    @include headerHeight();
                    box-shadow: black 0px -2px 10px -7px inset;
                }
    
            }
        }
  
    }
}

// Utilities 

@mixin headerHeightFontSize() {
    $ratio: 2.3;
    @media screen and ( $media-query-0 ) {
        font-size: $header-height-l/$ratio;
    }
    @media screen and ( $media-query-1 ) {
        font-size: $header-height-m/$ratio;
    }    
    @media screen and ( $media-query-2 ) {
        font-size: $header-height-h/$ratio
    }    
}

@mixin headerHeight() {
    @media screen and ( $media-query-0 ) {
        height: $header-height-l;
    }
    @media screen and ( $media-query-1 ) {
        height: $header-height-m;
    }    
    @media screen and ( $media-query-2 ) {
        height: $header-height-h
    }    
}

@mixin headerPadding() {
    
    @media screen and ( $media-query-0 ) {
        padding: $header-height-l/5 $header-height-l/3.5;
    }
    @media screen and ( $media-query-1 ) {
        padding: $header-height-m/6.25 $header-height-m/3.5;
    }    
    @media screen and ( $media-query-2 ) {
        padding: $header-height-h/4.25 $header-height-h/3.5;
    }   
}
